@import "../../../assets/variables.scss";

.home {
  &__hero-img {
    object-fit: cover;
    max-height: 350px;
  }

  &__category-col:hover {
    outline: 1px solid $color-primary;
    background: white;
  }

  &__carousel-item {
    max-height: 200px;
  }
}
