@import "node_modules/bootstrap/scss/bootstrap";

// Colors

.text-main {
  color: #003467;
}

.main-bg {
  background: #003467;
}

.section-1-bg {
  background: #f7ebde;
}

.section-2-bg {
  background: #757f9a;
}

.footer-bg {
  background: #dedede;
}

// General
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlay {
  z-index: 10;
  background: $black;
  opacity: 0.5;
  position: fixed;
  inset: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
}

button {
  box-shadow: none;
  border: none;
  background: none;
}

i {
  color: black;
}

.nav-link-icon {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  object-fit: cover;
}

.zoom-out {
  transition: all 0.15s ease-in-out;

  &:hover {
    transform: scale(0.92);
  }
}

// Home

.hero-body {
  top: 12%;
  left: 50%;
  transform: translate(-50%, 0);
}

// Boottrap overwriting

@media screen and (max-width: 992px) {
  .nav-link:hover {
    box-shadow: $box-shadow;
  }
}

.category-col:hover {
  box-shadow: $box-shadow;
  background: white;
}

.nav-link,
.link,
i,
a {
  &:hover,
  &:active,
  &:focus {
    @extend .text-main;
  }
}

.navbar-toggler {
  border: none;

  &:active,
  &:focus {
    outline: 2px solid black;
    box-shadow: none;
  }

  &-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.nav-link {
  color: black;
  opacity: 1;
  transition: none;
}

.form-control {
  border: none;

  &:active,
  &:focus {
    box-shadow: none;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.container {
  max-width: 1000px;
}

.modal-header {
  border: none;
}

// End Bootstrap Overwriting

.product-preview {
  &-img {
    height: 10rem;
  }
  &-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.bottom-right {
  bottom: 10px;
  right: 10px;
}

.max-800 {
  max-width: 800px;
}

.min-80 {
  min-width: 80px;
}

.max-vh-35 {
  max-height: 35vh;
}

.vh-30 {
  min-height: 30vh;
  max-height: 30vh;
}

.img-cover {
  object-fit: cover;
}

.img-contain {
  object-fit: contain;
}

.pointer {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  background: rgb(228, 228, 228);
  color: rgba(0, 0, 0, 0.5);
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.fs-7 {
  font-size: 0.8rem;
}

.fs-8 {
  font-size: 0.5rem;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-100 {
  flex-basis: 100%;
}

.right-corner {
  top: 20px;
  right: 20px;
}

.badge-dimens {
  width: 18px;
  height: 18px;
}

.bage-positon {
  top: 15px;
  left: 10px;
}

.pointer-none {
  pointer-events: none;
}

.selected {
  background: $dark;
  color: $white;
}

.sizes:hover {
  color: white;
  box-shadow: $box-shadow-sm;
  background-color: #003467;
}

@media screen and (max-width: 992px) {
  .sizes-modal {
    position: fixed;
    height: fit-content;
    bottom: 0 !important;
    margin: 0 !important;
  }

  .modal-open {
    .navbar {
      padding-right: calc(1.5rem + 17px) !important;
    }
    .navbar-brand {
      margin-left: calc($spacer - 17px) !important;
    }
  }
}

@media screen and (min-width: 992px) {
  .sizes-modal {
    margin: auto !important;
    top: 25% !important;
  }
  .modal-open {
    .navbar {
      padding-right: calc($spacer * 3 + 17px) !important;
    }
  }
}

.glow {
  animation: glow 1s alternate-reverse infinite;
  cursor: wait;
}

@keyframes glow {
  0% {
    opacity: 40%;
  }
  100% {
    opacity: 1;
  }
}
