@import "node_modules/bootstrap/scss/bootstrap";

// Colors

.text-main {
  color: #003467;
}

.section-1-bg {
  background: #f7ebde;
}

.section-2-bg {
  background: #757f9a;
}

.footer-bg {
  background: #dedede;
}

// General
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

button {
  box-shadow: none;
  border: none;
  background: none;
}

i {
  color: black;
}

.nav-link-icon {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  object-fit: cover;
}

.zoom-out {
  transition: all 0.15s ease-in-out;

  &:hover {
    transform: scale(0.92);
  }
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.fs-7 {
  font-size: 0.7rem;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-100 {
  flex-basis: 100%;
}

.right-corner {
  top: 20px;
  right: 20px;
}

.pointer-none {
  pointer-events: none;
}

// Home

.hero-body {
  top: 12%;
  left: 50%;
  transform: translate(-50%, 0);
}

// Boottrap overwriting

@media screen and (max-width: 992px) {
  .nav-link:hover {
    box-shadow: $box-shadow;
  }
}

.category-col:hover {
  box-shadow: $box-shadow;
  background: white;
}

.nav-link,
.link,
.nav-icon,
a {
  &:hover,
  &:active,
  &:focus {
    @extend .text-main;
  }
}

.navbar-toggler {
  border: none;

  &:active,
  &:focus {
    outline: 2px solid black;
    box-shadow: none;
  }

  &-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.nav-link {
  color: black;
  opacity: 1;
  transition: none;
}

.form-control {
  border: none;

  &:active,
  &:focus {
    box-shadow: none;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.container {
  max-width: 1000px;
}

.modal-header {
  border: none;
}

// End Bootstrap Overwriting

.max-800 {
  max-width: 800px;
}

.max-vh-35 {
  max-height: 35vh;
}

.img-cover {
  object-fit: cover;
}

.img-contain {
  object-fit: contain;
}

.pointer {
  cursor: pointer;
}

.glow {
  animation: glow 1s alternate-reverse infinite;
  cursor: wait;
}

@keyframes glow {
  0% {
    opacity: 40%;
  }
  100% {
    opacity: 1;
  }
}
