@import "node_modules/bootstrap/scss/bootstrap";
@import "./assets/variables.scss";

// Colors
.text-main {
  color: $color-primary;
}

.main-bg {
  background: $color-primary;
}

.section-1-bg {
  background: $color-cream;
}

.section-2-bg {
  background: $color-grey;
}

.footer-bg {
  background: $color-cream-dark;
}

// General
body {
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  box-shadow: none;
  border: none;
  background: none;
}

i {
  color: black;
}

.nav-link-icon {
  height: 40px;
  width: 40px;
  object-fit: cover;

  &:hover {
    color: #003467;
  }
}

a {
  text-decoration: none;
  color: unset;
}

// Boottrap overwriting

@media screen and (max-width: 992px) {
  .nav-link:hover {
    box-shadow: $box-shadow;
  }
}

.nav-icon,
.nav-link,
a {
  &:hover,
  &:active,
  &:focus {
    @extend .text-main;
  }
}

.navbar-text a {
  color: $dark;
  &:hover {
    @extend .text-main;
  }
}

.navbar-toggler {
  border: none;
}

.nav-link {
  color: rgba(0, 0, 0, 1);
  transition: none;
}

.form-control {
  border: none;

  &:active,
  &:focus {
    box-shadow: none;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.container {
  max-width: 1000px;
}

.bi {
  transition: $btn-transition;
}

.btn:hover {
  .back-icon {
    color: white;
  }
}

// End Bootstrap Overwriting

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.fs-7 {
  font-size: 0.8rem;
}

.fs-8 {
  font-size: 0.5rem;
}

.flex-grow-1 {
  flex-grow: 1;
}

.badge-dimens {
  width: 18px;
  height: 18px;
}

.no-effect:hover {
  color: unset;
}

.search-results {
  max-height: 12rem;
}

.selected {
  background: $dark;
  color: $white;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #003467;
  border-radius: 50%;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal-open {
  .fixed-btn {
    padding-right: calc(1.5rem + 17px) !important;
  }
}

@media screen and (max-width: 992px) {
  .sizes-modal {
    position: fixed;
    height: fit-content;
    bottom: 0 !important;
    margin: 0 !important;
  }

  .modal-open {
    .navbar {
      padding-right: calc(1.5rem + 17px) !important;
    }
    .navbar-brand {
      margin-left: calc($spacer - 17px) !important;
    }
  }
}

@media screen and (min-width: 992px) {
  .sizes-modal {
    margin: auto !important;
    top: 25% !important;
  }
  .modal-open {
    .navbar {
      padding-right: calc($spacer * 3 + 17px) !important;
    }
  }
}

.glow {
  animation: glow 1s alternate-reverse infinite;
  cursor: wait;
}

@keyframes glow {
  0% {
    opacity: 40%;
  }
  100% {
    opacity: 1;
  }
}
